.btn{
    font-size: 18px;
    width: 240px;
    height: 40px;
    color: white;
    border-radius: 20px;
    border: none;
    margin-top: 15px;
    background: linear-gradient(270.68deg, #D13932 -2.79%, #684EA6 58.42%);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
    background-color: #090A12;
    height: 100vh;
}


.box{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.fontWhite {
    color: white;
    font-weight: normal;
    font-size: 20px;
    padding-bottom: 5px;
}

.containerForOne{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    width: 500px;
    height: 50px;
    background: #2E2359;
    margin-top: 25px;
    border-radius: 25px;
}

.containerForOneItem{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding-left: 10px;
}

.btnForSearching{
    font-size: 18px;
    width: 120px;
    height: 35px;
    color: white;
    border-radius: 20px;
    border: none;
    background: linear-gradient(270.68deg, #D13932 -2.79%, #684EA6 58.42%);
}